# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Docker
*.env
docker-compose.override.yml
*.log
tmp/
docker-compose.override.yml

# VS Code / IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Pytest / Test
.coverage
htmlcov/
.tox/
.cache/

# Jupyter Notebook
.ipynb_checkpoints/



